<%- include('admin_header'); -%>
<div class="row col-md-12 assign-mentor-heading">
    <h3 class="text-center">
        Assign Mentor Section
    </h3>
</div>
<section class="assign-mentors">
    <div class="assign-mentor-table">
        <table class="table table-dark table-hover table-striped">
            <thead>
                <th>S.no</th>
                <th>Student's Name</th>
                <th>Mentor</th>
                <th>Assign Mentor</th>
            </thead>
            <tbody>
                <% var count=1; %>
                <% students.forEach((student)=> { %>
                    <% if(!student.Mentor){ %>
                        <tr id="<%= count%>">
                            <td class="row-data"><%= count%></td>
                            <td class="row-data"><%= student.Name %></td>
                            <td >
                                <select class="row-data" name="mentor" class="assign-mentor-select">
                                    <% mentors.forEach((mentor)=>{ %>
                                        <option  value="<%= mentor.Name %>"> <%= mentor.Name %></option>
                                    <% }); %>
                                </select>
                            </td>
                            <td>
                                <a onclick="senddata()" class="assign-mentor btn btn-success"> Assign Mentor </a>
                            </td>
                        </tr>
                        <% count+=1; %>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
</section>
<script>
    function senddata(){
        var rowId = event.target.parentNode.parentNode.id;
        var data = document.getElementById(rowId).querySelectorAll('.row-data')
        var name = data[1].innerHTML
        var mentor = data[2].options[data[2].selectedIndex].text
        $.get('/admin/assigned-mentor/'+name+'/'+mentor)
    }    
</script>
<%- include('footer'); -%>