<%- include('new_student_header'); -%>
<div class="container-fluid admin-page">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul class=" top-navigation-area">
            <li class="nav-item"><div class="profile-image-container"><svg class="profile-image col-md-1" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#fff" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg></div></li>
            <% if(student){ %>
                <li class="nav-item"><a href="/student">Welcome <%= student%></a></li>
            <% }else{ %>
                <li class="nav-item"><a href="/student">Guest Login</a></li>
            <% } %>
        </ul>
        <ul class=" middle-navigation-area">
            <li class="nav-item"><a href="/student/feedback">Give Feedback</a></li>
            <li class="nav-item"><a href="/student/profile">View Profile</a></li>
        </ul>
        <ul class=" bottom-navigation-area">
            <li class="nav-item"><a href="/logout">Logout</a></li>   
        </ul>
    </div>
    <div class="col-md-12 nav-button-area">
        <span onclick="openNav()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></span>
        <div class="logo-container col-md-1">
            <img src="/images/logo.png" class="logo"/>
        </div>
    </div>
    <div id="admin-content col-md-12 main">
        <div class="row">
            <% if(classrooms.length>0 ){ %>
                <div class="mentor-classroom-grid-container">
                    <% classrooms.forEach((classroom) => { %>
                        <div class="classroom-card">
                            <div class="row clasroom-card-top">
                                <img src="/images/testpicture.jpg" class="mentor-class-card-top"/>
                            </div>
                            <div class="classroom-card-body">
                                <h2 class="text-center">
                                    <a href="/student/classroom/<%= classroom._id%>/test"><%= classroom.Title %></a>
                                </h2>
                            </div>
                        </div>
                    <% });  %>
                </div>
            <% }else{ %>
                <h2 class="text-center">
                    No classrooms Added
                </h2>
            <% } %>
        </div>
  
    </div>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "350px";
      }
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      } 
</script>

<%- include('footer'); -%>
<!-- old code -->
<!-- <div class="container-fluid">
    <div class="row home-row">
            <div class="student-navigation-bar col-6 col-md-4">
                <div class="row student-profile">
                    <div class="col-md-2 mentor-image">
                        <img src="/images/testpicture.jpg" />      
                    </div>
                    <div class="col-md-4"> 
                        <h4>Student Login</h4> 
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <br/>
                <div class="navigation row">
                    <nav>
                        <ul class="navigation-bar">
                            <li class="link-item student-active"> <a href="/student/classroom"> Classrooms </a></li>
                            <li class="link-item"> <a href="/student/feedback"> Feedback </a></li>
                            <li class="link-item"> <a href="/student/profile"> Profile </a></li>
                            <br/>
                            <br/>
                            <li class="link-item"> <a href="/logout"> Logout </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="mentor-content col-md-8">
                <div class="row">
                    <% if(classrooms.length>0 ){ %>
                        <div class="mentor-classroom-grid-container">
                            <% classrooms.forEach((classroom) => { %>
                                <div class="classroom-card">
                                    <div class="row clasroom-card-top">
                                        <img src="/images/testpicture.jpg" class="mentor-class-card-top"/>
                                    </div>
                                    <div class="classroom-card-body">
                                        <h2 class="text-center">
                                            <a href="/student/classroom/<%= classroom._id%>/test"><%= classroom.Title %></a>
                                        </h2>
                                    </div>
                                </div>
                            <% });  %>
                        </div>
                    <% }else{ %>
                        <h2 class="text-center">
                            No classrooms Added
                        </h2>
                    <% } %>
                </div>
            </div>
    </div>
</div> -->