<%- include('new_student_header'); -%>
<div class="container-fluid admin-page">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <ul class=" top-navigation-area">
            <li class="nav-item"><div class="profile-image-container"><svg class="profile-image col-md-1" xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="#fff" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg></div></li>
            <li class="nav-item"><a href="/admin">Admin Panel</a></li>
        </ul>
        <ul class=" middle-navigation-area">
            <li class="nav-item"><a href="/admin/add-mentor">Add Mentor</a></li>
            <li class="nav-item"><a href="/admin/add-student">Add Student</a></li>
            <li class="nav-item"><a href="/admin/view-feedback">View Feedback</a></li>
            <li class="nav-item"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="nav-item"><a class="Active" href="/admin/change-mentor">Change Mentor</a></li>
        </ul>
        <ul class=" bottom-navigation-area">
            <li class="nav-item"><a href="/logout">Logout</a></li>   
        </ul>
    </div>
    <div class="col-md-12 nav-button-area">
        <span onclick="openNav()"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></span>
        <div class="logo-container col-md-1">
            <img src="/images/logo.png" class="logo"/>
        </div>
    </div>
    <div id="admin-content col-md-12 main">
        <div class="row">
            <div class="change-mentor-grid-container">
                <% students.forEach((student)=>{ %>
                    <div class="change-mentor-card">
                        <form action="/admin/change-mentor/" method="POST">
                            <div class="row form-group">
                                <input name="name"class="col-md-12 form-control" type="text" value="<%= student.Name %>" readonly/>
                            </div>
                            <div class="row form-group">
                                <input name="rollnumber" class="col-md-12 form-control" type="text" value="<%= student.Rollno %>" readonly/>
                            </div>
                            <div class="row form-group">
                                <select name="Mentor" class="col-md-12 form-control">
                                    <% mentors.forEach((mentor)=>{ %>
                                        <option class="change-mentor-option" value="<%= mentor.Name %>"><%= mentor.Name %></option>
                                    <% }); %>
                                </select>    
                            </div>
                            <div class="row form-group">
                                <button type="submit" class="btn btn-dark btn-outline"> Change Mentor </button>
                            </div>
                        </form>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "350px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      } 
</script>


<%- include('footer'); -%>

<!-- old code -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="admin-navigation col-md-4">
            <div class="row">
                <div class="admin-image col-md-2">
                    <img src="/images/testpicture.jpg"/>
                </div>
                <div class="col-md-4">
                    <h4> Admin Page </h4>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <div class="admin-navigation-area">
                <ul>
                    <li class="admin-link-item"><a href="/admin/add-mentor">Add Mentor</a></li>
                    <li class="admin-link-item"><a href="/admin/add-student">Add Student</a></li>
                    <li class="admin-link-item"><a href="/admin/view-feedback">View Feedbacks</a></li>
                    <li class="admin-link-item"><a href="/admin/dashboard">Dashboard</a></li>
                    <li class="admin-link-item active"><a href="/admin/change-mentor">Change Mentor</a></li>
                    <br/>
                    <br/>
                    <li class="admin-link-item"><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <div class="admin-content col-md-8">
            <div class="row">
                <div class="change-mentor-grid-container">
                    <% students.forEach((student)=>{ %>
                        <div class="change-mentor-card">
                            <form action="/admin/change-mentor/" method="POST">
                                <div class="row form-group">
                                    <input name="name"class="col-md-12 form-control" type="text" value="<%= student.Name %>" readonly/>
                                </div>
                                <div class="row form-group">
                                    <input name="rollnumber" class="col-md-12 form-control" type="text" value="<%= student.Rollno %>" readonly/>
                                </div>
                                <div class="row form-group">
                                    <select name="Mentor" class="col-md-12 form-control">
                                        <% mentors.forEach((mentor)=>{ %>
                                            <option class="change-mentor-option" value="<%= mentor.Name %>"><%= mentor.Name %></option>
                                        <% }); %>
                                    </select>    
                                </div>
                                <div class="row form-group">
                                    <button type="submit" class="btn btn-dark btn-outline"> Change Mentor </button>
                                </div>
                            </form>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div> -->