<%- include('student_header'); -%>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Scheduled Tests</h1>
        </div>
        <div class="col-md-12">
            <table class="table table-hover table-dark table-striped">
                <thead>
                    <th>S.No</th>
                    <th>Test Title</th>
                    <th>Date Of Test</th>
                    <th>Time of Test</th>
                    <th>Attend Test</th>
                </thead>
                <tbody>
                    <% var count =1;%>
                    <% tests.forEach((test)=>{ %>
                        <% if(test.Mentor==mentor){ %>
                            <tr>
                                <td><%= count %></td>
                                <td><%= test.Title %></td>
                                <td><%= test.Date %></td>
                                <td><%= test.Time %></td>
                                <td><a class="btn btn-primary" href="<%= test.TestLink %>">Attend Test</a></td>
                            </tr>
                            <% count+=1; %>
                        <% } %>
                    <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Scheduled Webinars</h1>
                </div>
                <div class="col-md-12">
                    <table class="table table-hover table-dark table-striped">
                        <thead>
                            <th>S.No</th>
                            <th>Webinar Title</th>
                            <th>Date of Webinar (DD/MM/YYYY)</th>
                            <th>Time of Webinar (GMT+5:30 HH:MM::SS)</th>
                            <th>Attend Webinar</th>
                        </thead>
                        <tbody>
                            <% var count=1;%>
                            <% webinars.forEach((webinar)=>{ %>
                                <% if(webinar.Mentor==mentor){ %>
                                    <tr>
                                        <td><%= count %></td>
                                        <td><%= webinar.Title %></td>
                                        <td><%= webinar.Date %></td>
                                        <td><%= webinar.Time %></td>
                                        <td><a class="btn btn-primary" href="<%= webinar.WebinarLink %>">Attend Webinar</a></td>
                                        <% count+=1; %>
                                    </tr>
                                    <% } %>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
<%- include('footer'); -%>