<%- include('mentor_header'); -%>
<link rel="stylesheet" href="/css/attendance-styles.css"/>
<div class="details-heading">
<h3 class="text-center">Students' Attendance Details</h3>   
</div>
<div class="pie-outer-container box-piesite">
    <ul class="pie-inner-container">
        <% var count=0; %>
        <% students.forEach((student)=>{ %>
            <% if(student.Mentor== mentor_name){ %>
                <% if(count%3==0){ %>
                    <li class="design">
                        <div class="piesite" id="pie_0" data-pie="<%= student.attendance %>"></div>
                        <div class="pie-heading"><%= student.Name %></div>
                    </li>
                <% }else if(count%3==1){ %>
                    <li class="usability col-md-4">
                        <div class="piesite" id="pie_2" data-pie="<%= student.attendance %>"></div>
                        <div class="pie-heading"><%= student.Name %></div>
                    </li>
                <% }else{ %>
                    <li class="creativity col-md-4">
                        <div class="piesite" id="pie_1" data-pie="<%= student.attendance %>"></div>
                        <div class="pie-heading"><%= student.Name %></div>
                    </li>
                <% } %>
                <% count+=1; %>
            <% } %>
        <% }); %>
    </ul>
</div>
<script>
    var piesiteFired = 0;
    $(document).ready(function() {
        var $win = $(window),
            $win_height = $(window).height(),
            windowPercentage = $(window).height() * 0.9;
        $win.on("scroll", scrollReveal);
        function scrollReveal() {
            var scrolled = $win.scrollTop();
            $(".trigger").each(function() {
                var $this = $(this),
                    offsetTop = $this.offset().top;
                if (
                    scrolled + windowPercentage > offsetTop ||
                    $win_height > offsetTop
                ) {
                    $(this).each(function(key, bar) {
                        var percentage = $(this).data("percentage");
                        $(this).css("height", percentage + "%"); 
                        
                        $(this).prop("Counter", 0).animate(
                            {
                                Counter: $(this).data("percentage")
                            },
                            {
                                duration: 2000,
                                easing: "swing",
                                step: function(now) {
                                    $(this).text(Math.ceil(now));
                                }
                            }
                        );
                    });
    
                } else {
                    $(this).each(function(key, bar) {
                        $(this).css("height", 0);
                    });
                }    
                
            });
            $(".piesite").each(function() {
                var $this = $(this),
                    offsetTop = $this.offset().top;
                if (
                    scrolled + windowPercentage > offsetTop ||
                    $win_height > offsetTop
                ) {
                    if (piesiteFired == 0) {
                        timerSeconds = 3;
                        timerFinish = new Date().getTime() + timerSeconds * 1000;
                        $(".piesite").each(function(a) {
                            pie = $("#pie_" + a).data("pie");
                            timer = setInterval(
                                "stoppie(" + a + ", " + pie + ")",
                                0
                            );
                        });
                        piesiteFired = 1;
                    }
                } else {
                    // To keep them triggered, lose this block.
                    $(".piesite").each(function() {
                        piesiteFired = 0;
                    });
                }
            });
        }
        scrollReveal();
    });
    var timer;
    var timerFinish;
    var timerSeconds;
    
    function drawTimer(c, a) {
        $("#pie_" + c).html(
            '<div class="percent"></div><div id="slice"' +
                (a > 50 ? ' class="gt50"' : "") +
                '><div class="pie"></div>' +
                (a > 50 ? '<div class="pie fill"></div>' : "") +
                "</div>"
        );
        var b = 360 / 100 * a;
        $("#pie_" + c + " #slice .pie").css({
            "-moz-transform": "rotate(" + b + "deg)",
            "-webkit-transform": "rotate(" + b + "deg)",
            "-o-transform": "rotate(" + b + "deg)",
            transform: "rotate(" + b + "deg)"
        });
        a = Math.floor(a * 100) / 100;
        arr = a.toString().split(".");
        intPart = arr[0];
        $("#pie_" + c + " .percent").html(
            '<span class="int">' +
                intPart +
                "</span>" +
                '<span class="symbol">%</span>'
        );
    }
    function stoppie(d, b) {
        var c = (timerFinish - new Date().getTime()) / 1000;
        var a = 100 - c / timerSeconds * 100;
        a = Math.floor(a * 100) / 100;
        if (a <= b) {
            drawTimer(d, a);
        } else {
            b = $("#pie_" + d).data("pie");
            arr = b.toString().split(".");
            $("#pie_" + d + " .percent .int").html(arr[0]);
        }
    }
    
</script>

<%- include('footer'); -%>